<ion-view view-title="Update Data">
	<ion-header-bar class="bar-stable">
		<h1 class="title">Edit Mahasiswa</h1>
	</ion-header-bar>
	
	<ion-content padding="true">
	<form name="frmadd" novalidate ng-submit="frmadd.$valid && updateData(data)">
		<div class="list">
			<label class="item">
				<input type="text" ng-model = "data.nim" name="nim" disabled minlength="7" maxlength="7" ><!-- {{data.nim}} -->
			</label>
	
			<label class="item">
				<input type="text" ng-model="data.nama" name="nama"  value="" required placeholder="Nama">
			</label>
	
			<label class="item">
				<input type="text" ng-model="data.jurusan" placeholder="Jurusan">
			</label>
			<input class="button button-block button-assertive" type="submit" value="Proses" ng-disabled="!frmadd.$valid">
		</div>
	</form>
	<label class="item" style="color: red" ng-show="frmadd.nama.$error.required"> Nama is required</label>
	
	</ion-content>
</ion-view>